@charset="utf-8";
html,body,#wrapper{
	height:100%;
	overflow: hidden;
}
.contain {
    width:calc(100% - 240px);
    height: 100%;
    left: 240px;
    position:absolute;
    overflow-y:scroll;
}
.subbar{
	position:relative;
	top:70px;
	background:#dedede;
	width:100%;
	height:60px;
}
.subbar>div{float:left;}
#prj{
    width: 200px;
    height: 60px;
    background: #e3e3e3;
    position:relative;
    box-sizing:border-box;
    border:1px solid gray;
}
#prj p {
    color: #42bfc2;
    font-weight:bold;
    font-size: 17px;
    text-align: center;
    line-height: 60px;
    margin-left:10px;
}
#prj #img {
	width:20px;
	margin:20px;
    position: absolute;
    top:0;
    left:0;
}
.container{
position:relative;
top:100px;
left:-100px;
}
#detail{
	left:0;
}
#regBtn{
	align:center;
	padding:0;
	margin:0 10px;
	background:#73d8d3;
	width:70px;
	height:35px;
	font-size:16px;
	line-height:30px;
}
 #clsBtn{
 	padding:0;
 	background:#888;
 	margin:0 10px;
	width:70px;
	height:35px;
	font-size:16px;
	line-height:30px;
}
#btn {
	padding:15px 0;
	text-align:center;
}
#search{
	width:300px;
	height:30px;
	margin:15px;
}	
#tab{
position:relative;
top:150px;
width:100%;
}
.contents{
	width:100%;
	height:calc(100% - 70px);
	position:absolute;
	top:70px;
}
/* 이것은 승인요청 페이지 */
/* 달력 */

#calendar {
    	max-width: 480px;
    	margin-left:9px;
  }
#calendar tr{
	height:10px !important;
}
 .inner{
 height:100%;
 float:left;
 }
 .inner:nth-child(1){
 width:26%;
 background:#dcdcdc;
 }
 .inner:nth-child(2){
 width:74%;
 }
 
 .cre_per{
 width:80%;
 height:60px;
 background:#32cbcb;
 margin:5% 10%;
 border-radius:10px;
 font-size:22px;
 line-height:60px;
 text-align:center;
 letter-spacing:0.1em;
 color:white;
 font-weight:bold;
 
 }
 .cre_per:hover{
 backgorund:#47afb8;
 }
 #permit_tab{
 width:80%;
 margin-left:2%;
 }
.cls_h4{
 font-weight:700;
 margin-left:30px;
 margin-bottom:15px;
 }
#first_h4{
 margin-top:40px;
 }
 /* 보기선택 */
#manager{
 width:200px;
 height:40px;
 line-height:40px;
 }
.choice{
	width:85px;
	height:30px;
	margin-left:160px;
	margin-top:-42px;
	position:absolute;
	text-align:center;
	border:1px dashed #333;
}
#choice_1,#choice_2, #choice_3{	border:1px dashed #333; line-height:15px;}
#choice_2, #choice_3{
	margin-left:137px;
}
.prolist td p{
	line-height:37px;
	margin-bottom:0;	
}
#addPrj{
}
/* 멤버추가 */
.addMem{
	opacity:0;
	margin-left:500px;
	margin-top:50px;
	}
/* 멤버추가에서 폼 더하기 */
.addForm{
	width:100px;
	height:37px;
	font-size:16px;
	font-weight:bold;
	background:pink;
	margin-left:80px;
	text-align:center;
	line-height:37px;
}
.membox{
	
}