<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="finalproject.data.dao.ProfileDao">
		<resultMap type="profile" id="profileMap"/>
		<select id="profileList" parameterType="profile" resultMap="profileMap">
			select * from membership where memno = 1000
		</select>
		
		
		<update id="updateProfile" parameterType="profile">
		
			update membership
			set name = #{name},
			dept = #{dept},
			job = #{job}, 
			pw = #{pw}
			WHERE memno= 1000
			
			
		</update>
		
	</mapper>	
	
	
	