<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	
	<mapper namespace="finalproject.data.dao.A03_MemberDao">

	<select id="login" resultType="member" parameterType="member">

		SELECT * FROM membership
		WHERE id= '${id}'
		AND pw= #{pw}
		
	</select>
	
	
	
	

	
	
	
	<!--  public void insertDept(Dept ins) 
		{deptno} == ins.getDeptno() 호출하는 property인 getXXX()가 있어야 한다.
	-->
</mapper>	