<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="finalproject.data.dao.A07_ToDoDao">
<resultMap type="todolist" id="todoMap" />
<resultMap type="member" id="memberMap" />

	
	<!-- 숨김 없음 - 전체 목록 -->
	<select id="todoList" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 0 AND approval='승인' AND progress=0 AND a.prjno = #{prjno}
		AND ((select ROUND(extract(day from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 24 * 3600 * 1000
		+ extract(hour from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 3600 * 1000
		+ extract(minute from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 60  * 1000
		+ extract(second from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 1000) timestap_to_secs
		from dual)-enddate) > 604800000 order by enddate
		]]>
	</select>
	
	<select id="todoEmer" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 0 AND approval='승인' AND progress=0 AND a.prjno = #{prjno}
		AND ((select ROUND(extract(day from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 24 * 3600 * 1000
		+ extract(hour from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 3600 * 1000
		+ extract(minute from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 60  * 1000
		+ extract(second from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 1000) timestap_to_secs
		from dual)-enddate) <= 604800000 order by enddate
		]]>
	</select>
	
	<select id="todoDone" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 0 AND approval='승인' AND progress=1 AND a.prjno = #{prjno}
		order by enddate
		]]>
	</select>

	
	<!-- 히든처리됨 - 전체 목록 -->
	<select id="hiddenList" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 1 AND approval='승인' AND progress=0 AND a.prjno = #{prjno}
		AND ((select ROUND(extract(day from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 24 * 3600 * 1000
		+ extract(hour from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 3600 * 1000
		+ extract(minute from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 60  * 1000
		+ extract(second from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 1000) timestap_to_secs
		from dual)-enddate) > 604800000 order by enddate
		]]>
	</select>
	
	<select id="hiddenEmer" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 1 AND approval='승인' AND progress=0 AND a.prjno = #{prjno}
		AND ((select ROUND(extract(day from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 24 * 3600 * 1000
		+ extract(hour from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 3600 * 1000
		+ extract(minute from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 60  * 1000
		+ extract(second from (systimestamp - to_date('01011970', 'ddmmyyyy'))) * 1000) timestap_to_secs
		from dual)-enddate) <= 604800000 order by enddate
		]]>
	</select>
	
	<select id="hiddenDone" parameterType="member" resultMap="todoMap">
		<![CDATA[ 
		SELECT a.*, b.memno FROM tasks a, assigs b WHERE a.assigsId = b.assigsId AND b.memno = #{memno} 
		AND a.isHidden = 1 AND approval='승인' AND progress=1 AND a.prjno = #{prjno}
		order by enddate
		]]>
	</select>
	
	<!-- 숨기기 & 숨김해제 -->
	<update id="makeHidden" parameterType="String">
		UPDATE tasks SET isHidden = 1 WHERE taskid = #{taskid}
	</update>
	
	<update id="makeShow" parameterType="String">
		UPDATE tasks SET isHidden = 0 WHERE taskid = #{taskid}
	</update>
</mapper>


