@charset "UTF-8";

#body{
	min-height: 350px;
}
/* 본문전체 감싸기 */
#container-fluid{
	display:flex;
	flex-direction:column;
	}

#title{
	font-size: 25px;
}

.titleBox, .cardBox{
	margin:10px;
}

.workCard{
	background:rgba(23, 162, 184, 0.3);
	border-radius:12px;
	margin:10px;
	padding:12px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items: center;
}

.detailBtn, .addBtn{
	background:rgba(23, 162, 184, 0.6) !important;
	color:white !important;
	letter-spacing:1px !important;
	margin:0 2px !important;
}

#clsBtn{
	background:rgb(24,136,184, 0.8);
	color:white;
	letter-spacing:1px;
	border-radius: 0.5em;
	margin:0 2px;
}
.detailBtn:hover, .addBtn:hover {
	letter-spacing:2px;
	font-weight:bold;
	transition: all .4s ease;
}


.clsBox{
	padding:12px;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
}
	